services:
  - docker
  
before_install:
  - docker run -dit --name texlive -v $(pwd):/src texlive/texlive
  - docker exec -it texlive tlmgr install latexmk collection-latex collection-fontsrecommended koma-script
  - docker exec -it texlive path add latexmk 

script:
  - docker exec -it texlive latexmk -pdf src/test.tex
